
#HomePgVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
  body {
    background: #000;
    color: #00ffaa;
    font-family: "Courier New", monospace;
    text-align: center;
    padding: 40px 20px;
    margin: 25px auto 0;
  }
  
  .warning {
    color: #ff4444;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .hidden {
    display: none;
  }
  
  h2, h3 {
    margin-top: 25px;
    text-align: center;
  }
  
  
  .zoneInfo {
    margin-top: 30px;
    text-align: left;
    display: inline-block;
    padding: 20px 25px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.45);  
    backdrop-filter: blur(6px); 
  }
  
  
  .zoneInfo p {
    margin: 8px 0;
    line-height: 1.4;
    margin: 25px auto 0;
  }
  
  .zoneInfo span {
    color: #00ffcc;
    font-weight: bold;
  }
  
  button {
    background: #00ffaa;
    font-family: "Courier New", monospace;
    border: none;
    color: #000;
    padding: 12px 200px;
    font-size: 1em;
    border-radius: 6px;
    margin-top: 25px;
    cursor: pointer;
    transition: 0.3s;
    display: block;
    margin: 25px auto 0;
  }
  
  button:hover {
    background: #00cc88;
    transform: scale(1.08);
  }
  
  #quizForm {
    margin-top: 40px;
    text-align: left;
    display: inline-block;
    max-width: 700px;
  }
  
  #quizForm label {
    display: block;
    margin: 15px 0 5px;
  }
  
  input[type="radio"] {
    margin-right: 10px;
  }
  