/* Fullscreen background video */
#bgVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* Base layout */
body {
    background-color: #000;
    color: #1cffb3;
    font-family: "Courier New", monospace;
    text-align: center;
    padding: 80px 20px;
    margin: 0;
}

.resultBox {
    margin-top: 30px;
    text-align: left;
    display: inline-block;
    padding: 20px 25px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.25);
    max-width: 920px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    word-wrap: break-word;
}

/* Used to hide result until ready */
.hidden {
    display: none;
}

/* Blinking dots under "SYSTEM SCANNING..." */
.dots span {
    animation: blink 1.2s infinite;
}

.dots span:nth-child(2) {
    animation-delay: 0.2s;
}

.dots span:nth-child(3) {
    animation-delay: 0.4s;
}

/* ... scanning animation opacity becomes lighter when its popping new dots */
@keyframes blink {

    0%,
    100% {
        opacity: 0.1;
    }

    50% {
        opacity: 1;
    }
}

/* Zone title */
#result h1 {
    color: #00ffcc;
    font-size: 3em;
    margin-bottom: 20px;
    margin: 25px auto 0;
}

button {
    background: #00ffaa;
    font-family: "Courier New", monospace;
    border: none;
    color: #000;
    padding: 10px 100px;
    font-size: 1em;
    border-radius: 6px;
    margin-top: 25px;
    cursor: pointer;
    transition: 0.3s;
    display: block;
    margin: 20px auto 0;
}

button:hover {
    background: #00cc88;
    transform: scale(1.08);
}