#bgVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

body {
    background-color: #000;
    color: #00ffaa;
    font-family: "Courier New", monospace;
    text-align: center;
    padding: 80px 20px;
    margin: 0;
}